.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 0px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}

.heading {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.heading h2 {
    text-align: center;
    margin: 20px 0px 40px 30%;
}

.price_by_night {
    display: flex;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.information {
    display: flex;
    justify-content: center;
    height: 80px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    align-items: center;
}

.information div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 60px;
    align-items: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    padding-top: 6px;
}

.max_guest {
    background: url("../images/icon_group.png") no-repeat top center;
}

.number_rooms {
    background: url("../images/icon_bed.png") no-repeat top center;
}

.number_bathrooms {
    background: url("../images/icon_bath.png") no-repeat top center;
}

.user {
    padding-top: 10px;
}

.description {
    padding-top: 5px;
}
